@charset "utf-8";

.googleMapModal_wrap {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9999;

  display: none;
}
.googleMapModal_wrap.active {
  display: block;
}
.googleMapModal {
  position: relative;
  height: 100%;
  width: 100%;
}
.googleMapModal .gmm_layer {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 0;
}
.googleMapModal .gmm_close {
  color: #fff;
  cursor: pointer;
  font-size: 32px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  top: -50px;
  right: 0;
}

.googleMapModal .gmm_main {
  background: #fff;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px 20px;
  text-align: center;
  margin: 0 auto;
  max-width: 640px;
  width: 90%;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}
.googleMapModal .gmm_map {
  background: #eee;
  height: 400px;
  width: 100%;
}
.googleMapModal .gmm_search {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  max-width: 270px;
  padding-right: 50px;
}
.googleMapModal .gmm_address {
  /* iOS用 リセット */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-appearance: none;
  border-radius: 0;
  padding: 0;
  max-width: 100%;
  
  background: #eee;
  border: none;
  outline: 0;
  padding: 0 10px;
  line-height: 30px;
  width: 100%;
}
.googleMapModal .gmm_btnSearch {
  /* iOS用 リセット */
  border-radius: 0;
  -webkit-box-sizing: content-box;
  -webkit-appearance: button;
  appearance: button;
  border: none;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0;

  background: #1fa463;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 0px;
  line-height: 30px;
  width: 50px;
}
.googleMapModal .gmm_btnSearch:focus {
  outline: none;
}
.googleMapModal .gmm_result {
  background: #f9f9f9;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}
.googleMapModal .gmm_addressDisplay {
}
.googleMapModal .gmm_btnCopy {
  background: #ddd;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  padding: 2.5px 7.5px;
  margin-top: 5px;
}
.googleMapModal .gmm_btnCopy.disabled {
  display: none !important;
}

/* SP */
@media screen and (max-width:767px) {
  .googleMapModal .gmm_main {
    padding: 20px 10px;
  }
  .googleMapModal .gmm_address {
    font-size: 16px;
  }
  .googleMapModal .gmm_btnSearch {
    font-size: 16px;
  }
  .googleMapModal .gmm_addressDisplay {
    font-size: 13px;
  }
  .googleMapModal .gmm_map {
    height: 240px;
  }
}
